html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/* lottery */

.site-lottery .lt-btn {
    padding: 8px 5px 3px 5px;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 0 1px transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    background: rgba(230,36,14,1);
    background: -moz-linear-gradient(top, rgba(230,36,14,1) 0%, rgba(231,76,59,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(230,36,14,1)), color-stop(100%, rgba(231,76,59,1)));
    background: -webkit-linear-gradient(top, rgba(230,36,14,1) 0%, rgba(231,76,59,1) 100%);
    background: -o-linear-gradient(top, rgba(230,36,14,1) 0%, rgba(231,76,59,1) 100%);
    background: -ms-linear-gradient(top, rgba(230,36,14,1) 0%, rgba(231,76,59,1) 100%);
    background: linear-gradient(to bottom, rgba(230,36,14,1) 0%, rgba(231,76,59,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6240e', endColorstr='#e74c3b', GradientType=0 );
    border: none;
        border-right-color: currentcolor;
        border-right-style: none;
        border-right-width: medium;
        border-bottom-color: currentcolor;
        border-bottom-style: none;
        border-bottom-width: medium;
    border-right: 2px solid #c22110;
    border-bottom: 3px solid #c22110;
    opacity: 1;
    margin-top: 8px;
    margin-bottom: 0;
    width: 150px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    margin-bottom: 25px;
    min-height: 55px;
}
.site-lottery .lt-btn:hover {
    opacity: .85;
}
.site-lottery .hidden {
    display: none;
}